@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', Arial, Helvetica, sans-serif;
}

html {
    max-width: 1920px;
    width: 100%;
    background-image: url(../imgs/background-realismo.png);
    background-size: 100%;
}

b{
    color: rgb(192, 83, 83);
    font-weight: 600;
}

b:hover{
    color: red;
}

.span img {
    width: 100%;
}

header {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    background-color: #c1c1c0;
    align-items: center;
    margin-top: -0.4vw;
}

.links {
    width: 45vw;
    display: flex;
    justify-content: space-around;

}

.links a {
    text-decoration: none;
    color: black;
    font-size: 2.9vw;

}
.links a:hover{
    color:rgb(86, 84, 84);
}

.logo-header img {
    width: 3.8vw;
    border-left: 0.3vw solid gray;
    height: auto;
}

section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftside{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.leftside h1{
    font-size: 3.4vw;
    padding-left: 24.5vw;
    margin-bottom: 3.8vw;
    width: 55vw;
    margin-left: 4vw;
}

.leftside .caract{
    width: 50.8vw;
    margin-right: 9vw;
}

.leftside .carac{
    margin-left: 11.5vw;
    font-size: 2vw;
    margin-bottom: 0.7vw;
    text-align: justify;
}

.li{
    overflow-y: scroll;
    margin-left:15.8vw;
    width: 33.7vw;
    height: 23.3vh;
    font-size: 1.5vw;
}

span{
    font-weight: 600;
}

.rightside{
    margin-right:1.6vw;
    margin-top: 12.5vw;
    width: 47.5vw;
    text-align: justify;
    height: 49vh;
    overflow-y: scroll;
}

.rightside h1{
    font-size: 4vw;
}

.rightside p{
    font-size: 2vw ;
}

.rightside li{
    font-size: 1.5vw ;
}


.trechos a{
    font-size: 2vw;
    color:blue;
    margin-left: 2vw;
}

.trechos a:last-child{
    margin-left: 15vw;
}